<% provide(:title, 'Adding New Article') %>
<h1>Adding New Article</h1>

<div class="">
  <div class="">
    <%= form_for(@battle) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :date %>
      <%= f.text_field :date %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label :belligerentA, 'Belligerent-A' %>
      <%= f.text_field :belligerentA %>
      VS
      <%= f.label :belligerentB, 'Belligerent-B' %>
      <%= f.text_field :belligerentB %>

      <%= f.label :strengthA, 'Strength-A' %>
      <%= f.text_field :strengthA %>
      VS
      <%= f.label :strengthB, 'Strength-B' %>
      <%= f.text_field :strengthB %>
      
      <%= f.label :casualtiesA, 'Casualties & Losses-A' %>
      <%= f.text_field :casualtiesA %>
      VS
      <%= f.label :casualtiesA, 'Casualties & Losses-B' %>
      <%= f.text_field :casualtiesB %>
      
      <%= f.label :result %>
      <%= f.text_field :result %>

      <%= f.submit "Create New Article" %>
    <% end %>
  </div>
</div>
